* {
    font-family: Helvetica ,Arial, sans-serif;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

.back {
    text-align: center;
    font-size: 20px;
}

#navigation {
    align-items: center;
    font-size: 20px;
}

.images {
    height: 500px;
    width: auto;
}

